@font-face {
    font-family: ScopeOne;
    src: url('../../../../assets/fonts/ScopeOne-Regular.ttf');
    font-weight: 200;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    height: 100%;
    max-width: 1368px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;

    @media (max-width: 410px) {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.contentbox {
    font-family: ScopeOne;
    color: #fff;
    background-color: rgba($color: #B2B2B2, $alpha: 0.4);
    width: 450px;
    height: 431px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 6px;

    &__avatar {
        margin-top: 20px;
        width: 110px;
        border-radius: 100%;
        display: flex;
    }

    &__textblock {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &_title {
            font-size: 49px;
            font-weight: 300;
        }

        &_subtitle {
            font-size: 22px;
        }
    }

    &__linkblock {
        margin-top: 45px;

        &_title {
            font-weight: 200;
            font-size: 36px;
            letter-spacing: 2px;
            text-align: center;
        }

        &_links {
            margin-top: 5px;
            display: flex;
            align-items: center;
            gap: 22px;
        }

        &_icon {
            width: 55px;
            border-radius: 8px; // Опционально: скругление углов
            transition: all 0.3s ease; // Плавный эффект

            &:hover {
                filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));
            }
        }
    }
}